.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.video-cart-wrapper {
  width: 800px;
  height: 450px;
  position: relative;
  margin: 0px auto;
}
.video-cart-wrapper  video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.timelineItem {
  position: absolute;
  z-index: 100;
  cursor: url('cart.png'), pointer;
  display: none;
}
.cropper {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
.cropper img {
  max-width: 100%;
  opacity: 0 !important;
}
.ReactCrop {
  background: none !important;
  border: solid 1px #000;
}
.bubble-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.bubble
{
  position: relative;
  width: 240px;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.6;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 18px;
}
.video-editor {
  margin-bottom: 100px;
}